<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="page" class="page">
    <header id="page-header" class="header">
      <a href="#" id="top-logo" class="logo">
        <img src="<%= require('./assets/img/logo-mini.svg') %>"
          alt="Логотип"
          id="top-logo-img"
        >
      </a>
      <nav id="top-menu" class="top-menu">
        <a href="#"
          id="top-menu-link-main"
          class="
            top-menu_link
            text__header
          "
        >
          Главная
        </a>
        <a href="#projects"
          id="top-menu-link-projects"
          class="
            top-menu_link
            text__header
          "
        >
          Проекты
        </a>
        <a href="#laboratory"
          id="top-menu-link-laboratory"
          class="
            top-menu_link
            text__header
          "
        >
          Лаборатория
        </a>
      </nav>
      <p id="top-slogan"
        class="slogan text__header"
      >
        Приветствую Вас на моей страничке!
      </p>
    </header>
    <main id="page-main" class="main">
      <section id="presentation" class="presentation">
        <img src="<%= require('./assets/img/photo.jpg') %>"
          alt="Фотография"
          id="presentation-img"
          class="presentation_photo"
        >
        <div id="presentation-content" class="presentation_content">
          <div id="presentation-navigation" class="presentation-menu">
            <button type="button"
              id="presentation-navigation-welcome" 
              class="
                presentation-menu_link
                text__presentation-menu
                presentation-menu_link__active
              "
            >
              Представление
            </button>
            <button type="button"
              id="presentation-navigation-about-me"
              class="
                presentation-menu_link
                text__presentation-menu
              "
            >
              Обо мне
            </button>
            <button type="button"
              id="presentation-navigation-contacts"
              class="
                presentation-menu_link
                text__presentation-menu
              "
            >
              Контакты
            </button>
          </div>
          <div id="presentation-welcome" class="presentation_section">
            <p class="text__main">
              Добрый день и добро пожаловать на мою личную страницу! Данная страничка сделана с
              использование HTML, CSS, JS и собрана при помощи Webpack 5. Ранее я использовал Vue и SASS, но решил
              что основная страница должна быть сделана при помощи нативных технологий. Исходный код для старой версии
              вы можете найти <a href="#" class="text__main link">GitHub</a>.
            </p>
            <p class="text__main">
              Во вкладке «Проекты» Вы можете посмотреть готовые проекты, в работе над которыми я участвовал.
            </p>
            <p class="text__main">
              Кнопка «Лаборатория» приведет вас в неизвестность! Серьезно. Там будет что то над чем я,
              возможно, работаю, работал или буду работать. Или работал, а потом забыл. А может это просто
              какие то эксперименты. В общем — без понятия что там находится. И все же можете заглянуть.
              Если сильно захотите.
            </p>
          </div>
          <div id="presentation-about-me" class="presentation_section __hidden">
            <p class="text__main">
              Меня зовут Константин. Родился 31.07.1995. На данный момент мне <span data-age></span>
              лет(если функция отработала правильно). Я очень не люблю фотографироваться, поэтому
              можете наслаждаться аватаркой в виде филина. Периодически играюсь с photoshop и это один
              из коллажей, который был сделан мной.
            </p>
            <p class="text__main">
              Кроме каких то базовых знаний по photoshop в ходе обучения на frontend-разработчика меня
              заинтересовала figma. Поэтому я решил поиграться с ней и в итоге сделал несколько иконок.
              Логотип с левой стороны шапки — одна их них. Также ниже Вы можете видеть маркеры в проектах
              и лаборатории. Думаю это можно записать в мои достижения.
            </p>
            <p class="text__main">
              Основной сферой моих интересов на данный момент является изучение frontend’а, а именно
              верстки(html/html5, css/css3) и языка JavaScript.
            </p>
            <p class="text__main">
              Обладаю следующими знаниями и умениями:
            </p>
            <ul id="presentation-about-me-knowledge-list">
              <li class="text__main">
                Знания HTML, CSS
              </li>
              <li class="text__main">
                Базовые знания HTML5, CSS3
              </li>
              <li class="text__main">
                Базовые знания JavaScript
              </li>
              <li class="text__main">
                Знания JavaScript, стандарты ES5, ES6+
              </li>
              <li class="text__main">
                Базовые знания Vue
              </li>
              <li class="text__main">
                Знания Webpack
              </li>
              <li class="text__main">
                Умение валидной кроссбраузерной верстки
              </li>
              <li class="text__main">
                Умение адаптивной верстки
              </li>
              <li class="text__main">
                Базовые знания Git
              </li>
              <li class="text__main">
                Базовые знания Photoshop
              </li>
              <li class="text__main">
                Базовые знания Figma
              </li>
              <li class="text__main">
                Базовые знания Bitrix
              </li>
              <li class="text__main">
                Базовые знания Wordpress
              </li>
            </ul>
            <p class="text__main">
              В 2018 году окончил МГТУ МИРЭА по специальности «Информационная безопасность автоматизированных систем».
              Дата поступления: 2013 год.
            </p>
            <p class="text__main">
              Кроме этого дополнительно обучался на <a href="https://geekbrains.ru/go/K6kf09" class="text__main link">GeekBrains</a> и имею следующие сертификаты:
            </p>
            <ul id="presentation-about-me-certification-list">
              <li>
                <a href="https://geekbrains.ru/certificates/945666" class="text__main link">JavaScript. Уровень 1. ИК</a>
              </li>
              <li>
                <a href="https://geekbrains.ru/certificates/1018751" class="text__main link">JavaScript. Уровень 2. ИК</a>
              </li>
              <li>
                <a href="https://geekbrains.ru/certificates/1079912" class="text__main link">ReactJS. ИК</a>
              </li>
              <li>
                <a href="https://geekbrains.ru/certificates/935543" class="text__main link">HTML/CSS. ИК</a>
              </li>
              <li>
                <a href="https://geekbrains.ru/certificates/976067" class="text__main link">HTML5 и CSS3. ИК</a>
              </li>
            </ul>
          </div>
          <div id="presentation-contacts" class="presentation_section __hidden">
            <p id="presentation-contacts-phone" class="text__main">
              Телефон для связи: <a href="tel:+79303098073" class="text__main link">+7 (930) 309 8073</a>
            </p>
            <p id="presentation-contacts-whatsapp" class="text__main">
              WhatsApp: <a href="https://wa.me/79647920775" class="text__main link">+7 (964) 792 0775</a>
            </p>
            <p id="presentation-contacts-viber" class="text__main">
              Viber: <a href="viber://chat?number=%2B79647920775" class="text__main link">+7 (964) 792 0775</a>
            </p>
            <p id="presentation-contacts-telegram" class="text__main">
              Telegram: <a href="https://t.me/Strixis" class="text__main link">https://t.me/Strixis</a>
            </p>
          </div>
        </div>
      </section>
      <section id="projects" class="section">
        <h2 id="projects-header" class="text__heading section_heading">Проекты</h2>
        <div id="projects-description">
          <p class="section_description text__sub">
            В данном разделе представлены готовые проекты в которых я принимал участие.
          </p>
        </div>
        <ul id="projects-list" class="section-list">
          <li class="section-list_item clearfix">
            <a href="#" class="text__main link link__projects">Anure </a>
            <span class="text__main">
              - интернет-магазин одежды. Сделан на wordpress. Подключена robokassa. Почти вся работа над созданием
              магазина, за исключением установки wordpress, настройки сервера и наполнения товарами,
              до 31.10.2022 велась мной.
            </span>
          </li>
          <li class="section-list_item clearfix">
            <a href="#" class="text__main link link__projects">Липецк ИСМО </a>
            <span class="text__main">
              - сайт ИСМО Липецкой области. Задействован довольно большой стек технологий технологий:
              html, css, js, nunjucks, vue, vuetify, scss, xml, yaml, freemarker, asciidoctor, webpack,
              postgresql, git, jenkins. Моими задачами были исправление графических ошибок и работа со
              стилями; исправление логики и компонентов на js/vue; доработка существующих документов и
              создание новых на yaml, freemarker, asciidoctor, nunjucks, xml, js; написание простых миграционных
              скриптов и запросов для postgresql. К сожалению ссылку на сам сайт предоставить не могу.
            </span>
          </li>
          <li class="section-list_item clearfix">
            <a href="#" class="text__main link link__projects">Interior </a>
            <span class="text__main">
              - первый проект по курсу HTML/CSS. Цель: узнать основы html/css, научиться работать с дизайн-макетом.
            </span>
          </li>
          <li class="section-list_item clearfix">
            <a href="#" class="text__main link link__projects">New Automation Tool for Your </a>
            <span class="text__main">
              - второй проект по курсу HTML/CSS. Цель: закрепить знания по html/css,
              научиться работать с дизайн-макетом в figma.
            </span>
          </li>
          <li class="section-list_item clearfix">
            <a href="#" class="text__main link link__projects">Waxom </a>
            <span class="text__main">
              - зачетный проект по курсу HTML5/CSS3. Цель: закрепить знания по семантическим элементам html5,
              переходам и анимациям css3, показать навыки верстки.
            </span>
          </li>
        </ul>
      </section>
      <section id="laboratory" class="section">
        <h2 id="laboratory-header" class="text__heading section_heading">Лаборатория</h2>
        <div id="laboratory-description">
          <p class="section_description text__sub">
            Добро пожаловать в мою скромную лабораторию!
          </p>
        </div>
        <ul id="laboratory-list" class="section-list">
          <li class="section-list_item clearfix">
            <a href="https://github.com/Strixis" class="text__main link link__lab">GitHub </a>
            <span class="text__main">
              - мой github.
            </span>
          </li>
          <li class="section-list_item clearfix">
            <a href="#" class="text__main link link__lab">Шахматы! </a>
            <span class="text__main">
              - Задача: средствами JavaScript отобразить шахматную доску с фигурами. Цель:
              научиться основам взаимодействия с dom-деревом при помощи js. Возможно когда нибудь
              это будет полноценными шахматами.
            </span>
          </li>
          <li class="section-list_item clearfix">
            <a href="#" class="text__main link link__lab">s-Calc </a>
            <span class="text__main">
              - Собственная разработка. Калькулятор. Позволяет посчитать стоимость услуг, товаров,
              зарплату на сделке или что то еще о чем я пока не догадываюсь. Сделан максимально
              просто - достаточно ввести расценку, количество и получаем итог. Название операции
              сделано для удобства, необязательно. Работает по схеме:
              ввели данные - получили результат - записали на бумажку или еще куда то. Расчет был на
              людей которые умеют пользоваться смартфонами и интернетом, но не хотят сильно заморачиваться.
              Это удобнее чем обычный калькулятор и не так сложно как таблицы.
            </span>
          </li>
        </ul>
      </section>
    </main>
    <footer id="page-footer" class="footer">
      <p id="copyright" class="copyright text__footer">
        ©Strixis, 2020-<span data-copyright></span>. All rights reserved.
      </p>
    </footer>
  </div>
</body>
</html>
