.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 7px 14px;
  box-sizing: border-box;
  background: var(--color-background-header);
  border-radius: 0 0 14px 14px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  margin: 0 40px 0 0;
}
.logo_img {
  display: block;
  width: 36px;
  height: 47px;
  overflow: hidden;
}

.top-menu {
  width: 100%;
}
.top-menu_link {
  text-decoration: none;
  color: var(--color-font-header);
  margin: 0 7px 0 0;
}
.top-menu_link:last-child {
  margin-right: 0;
}
.top-menu_link:hover {
  color: var(--color-font-header-hover);
}
.top-menu_button {
  display: none;
  width: 46px;
  height: 34px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: 7px;
  background: var(--color-button-nav);
  color: var(--color-font-header);
  text-align: center;
  margin: 0 0 0 auto;
}
.top-menu_button:hover {
  background: var(--color-button-nav-hover);
}
.top-menu_button:active {
  background: var(--color-button-nav-active);
}

.slogan {
  flex-shrink: 0;
  color: var(--color-font-header);
}